body {
  h1 {
    display: inline-block;
  }
  .yearmonth {
    font-size: 15px;
    float: right;
    margin: 2px;
  }
  .navbar {
    .brand {
      float: right;
    }
  }
  .price {
    text-align: right;
  }
  input {
    width: 70px;
  }
}
